<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <span v-bind:title="message"> no one thing</span>
      <br />
      <span v-if="show"> don't show</span>

      <ul v-for="user in users">
        <li>{{user.name}}</li>
      </ul>

      <button v-on:click="clickfunc">{{button_val}}</button>
      <input v-model="input_val" />
      <p>{{input_val}}</p>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        message: new Date().toLocaleString,
        show: true,
        users: [
          {
            name: "vinh1",
            old: "hehe",
          },
          {
            name: "vinh2",
            old: "hehe",
          },
          {
            name: "vinh3",
            old: "hehe",
          },
          {
            name: "vinh",
            old: "hehe",
          },
        ],
        button_val: "not click",
        input_val: "Nguyen The Vinh",
      },
      methods: {
        clickfunc: function () {
          this.button_val = "???";
        },
      },
    });
  </script>
</html>
